<span><%= t("hello") %></span>
<span><%= translate("foo", :i18n_viz => false) %></span>
<span><%= translate("bar", :scope => :scope) %></span>
<h1>
    <%= t("hello") %>
    <span><%= translate("bar", :scope => :scope) %></span>
</h1>
